@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>ERROR WHILE SENDING THE EMAIL!!!!</h1>
        <a href="@Url.Action("index", "Home")">RETURN TO MAIN PAGE</a>
    </div>
</body>
</html>
